<!DOCTYPE html>
<html>
<head>
  <title>TaxJp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "tax_jp/application", media: "all" %>
  <%= javascript_include_tag "tax_jp/application" %>
</head>
<body class="taxjp">

<%= render 'layouts/tax_jp/nav' %>
<main role="main">
  <%= yield %>
</main>

</body>
</html>
